@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

.uppercase{ text-transform: uppercase;}

.bold{font-weight: 1000;}

/*for wrapper*/
.wrapper {
  max-width: 1657px;
  width: 90%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

.header-section{
  padding: 20px 0;
  background-color: #101d39;
  color: #fff;
}

.header-section .wrapper{
  width: 97.2%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.logo{
  font-size: 20px;
  font-weight: 400;
  color: #849aa2;
}

.logo .bold{ 
  color: #fff;
  font-size: 23px;
  text-transform: capitalize;
}

.logo:hover{
  transform: scale(1.2);
  transition: transform 0.2s ease-in;
}

.hamburger{display: none;}

.header-section a{ color: inherit; }

.nav-section{
  flex-basis: 0;
  flex-grow: 1;
}

.nav-items {
  display: flex;
  justify-content: flex-end;
}

.nav-items li{
  margin: 0 2%;
  text-transform: uppercase;
}

.nav-items li:last-child{ margin-right: 1%; }

.nav-items a:hover{
  transform: scale(1.5);
  transition: transform .5s;
}


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*=================================
  hero styling starts here
=================================*/

.hero-section{ 
  background: url("../image/bg.jpg") no-repeat fixed center; 
  background-size: cover;
}

.hero-section .wrapper{
  padding: 255px 0 246px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.hero-wrapper{ width: 55%; }

.hero-title{
  margin-bottom: 30px;
  font-size: 82px;
  font-weight: 1000;
}

.hero-info{
  margin: 15px 0;
  color: #849aa2;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.7;
}

.home-btn{
  padding: 20px 40px;
  border: 1px solid #849aa2;
  border-radius: 5px;
  margin: 35px 0;
  color: inherit;
  font-size: 26px;
  font-weight:700;
  text-transform: capitalize;
}

.home-btn:hover{
  border: none;
  background-color: #020b13;
  transform: scale(1.2);
  transition: transform 0.2s ease-in;
}

/*=================================
  hero styling ends here
=================================*/

/*=================================
  live event styling starts here
=================================*/

.live-events{
  padding: 130px 0 123px;
  background-image: linear-gradient(to right, #0c1f2e, #2d3c54);
  text-align: center;
}

.events-section-title{
  font-size: 50px;
  font-weight: 1000;
  color: #fff;
}

.events-section-info{
  margin: 40px 0 90px;
  font-size: 25px;
  color: #849aa2;
}

.events-list{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.event{
  margin-right: 65px;
  border-radius: 10px;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
  background-color: #31414b;
  color: #849aa2;
}

.event a:hover{
  transform: scale(1.05);
  transition: transform 0.5s ease-in;
}

img{ border-radius: 10px 10px 0 0 ; }

.live-events .event:last-child{ margin-right: 0; }

.event a::before{
  content: "\f04b";
  font-family: "FontAwesome";
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #849aa2;
  font-size: 70px;
  opacity: 0.7;
}

.event-title{
  padding: 50px 40px;
  font-size: 23px;
  font-weight: 700;
  text-align: left;
}

/*=================================
  live event styling ends here
=================================*/

/*=================================
  artist section styling starts here
=================================*/

.artist-section{
  padding: 130px 0;
  background-image: linear-gradient(to right,#0a1821, #283044);
  
}
.artists-events{
  display: flex;
  justify-content: space-between;
}

.artists{
  flex: 1 1 auto;
  margin-right: 51px;
  display: flex;
  flex-flow: column wrap;
}

.artist-name{
  min-width: 318px;
  padding: 17px 106px 19px 21px;
  border: none;
  border-radius: 5px;
  margin-bottom: 11px;
  background-color: #293740;
  color: #849aa2;
  font-size: 18px;
  text-align: left;
}

.artist-name:hover, .selected {
  background-color: #aa15cc;
  color: #fff;
  cursor: pointer;
}

 .artists-events .events-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.artists-events .event{
  border-radius: 10px;
  margin: 0 43px 43px 0;
  position: relative;
  color: #849aa2;
  flex: inherit;
}

.artists-events .event:nth-child(3),
.artists-events .event:nth-child(6){ margin-right: 0; }


.artists-events img{
  max-width: 395px;
  border-radius: 5px;
}

.artists-events .event a::before{
  right: 40%;
  left: inherit;
}

/*=================================
  artist section styling ends here
=================================*/

/*=================================
  trending section styling starts here
=================================*/


.trending-events{
  padding: 120px 0 100px;
  background-image: linear-gradient(to right, #091115, #293145);
  text-align: center;
}

.trending-events .event:last-child{ margin-right: 0; }


/*=================================
  trending section styling starts here
=================================*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
================================*/ 

.footer-section{
  padding: 130px 0;
  background-color: #020b13;
}

.footer-info-wrapper{
  display: flex;
  flex-flow: row wrap;
}

.footer-info{
  flex: 1 1 auto;
  margin-right: 56px;
}


.footer-title{
  color: #fff;
  font-size: 32px;
  font-weight: 1000;
  text-transform: capitalize;
}

.footer-list{
  padding-top: 50px;
  display: flex;
  flex-flow: column wrap;
}

.footer-list li{
  padding: 20px 8% 20px 0;
  border-top: .1px solid #849aa2;
  border-bottom: .1px solid #849aa2;
  color: #849aa2;
  font-size: 20px;
}

.footer-list li:first-child{
  padding-top: 0;
  border-top: none;
}

.footer-list li:last-child{ border-bottom: none; }


.footer-links{
  margin: 100px auto 0;
  text-align: center;
  color: #849aa2;
  font-size: 18px;
  font-weight: 100;
}


.link::before{
  font-family: "FontAwesome";
  font-size: 35px;
  color: #fff;
}

.link:hover{
  transform: scale(1.2);
  transition: transform .2s ease-in;
}

.twitter::before{ content: "\f099"; }

.facebook::before{ content: "\f09a"; }

.instagram::before{ content: "\f16d"; }

.snapchat::before{ content: "\f2ab"; }

.social-links li{ margin-right: 22px; }

.social-links li:last-child{ margin-right: 0; }

.copyright{ padding-top: 22px; }

.copyright .bold{ color: #fff; }

/*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/

/*media query for 1440px starts here*/

@media only screen and (max-width: 1440px) {

  .artists-events .event:nth-child(3),
  .artists-events .event:nth-child(6){margin-right: 43px;}

  .trending-events .event h4{padding: 25px;}
  
  .trending-events .event a::before{ top: 20%; }
}  

/*media query for 1440px ends here*/

/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px){

  .hero-wrapper{width: 80%;}

  .live-events .event h4{padding: 25px;}

  .event-title{font-size: 18px;}

  .artists-events{
    flex-flow: column wrap;
  }

  .artist-name{
    min-width: 260px;
    font-size: 16px;
  }
  
  .artists{
    margin-right: 0;
    margin-bottom: 20px;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .artists-events .event{margin-right: 0;}

  .artists-events .event:nth-child(3) { margin-right: 0; }

  .artists-events .event:nth-child(6) { margin-right: 0; }
}

/*media query for 1024px ends here*/

/*media query for 768px starts here*/

@media only screen and (max-width: 768px){

  .header-section{padding: 22px 3%;}

  .nav-section{flex-grow: inherit;}

  .nav-items{display: none;}

  .hamburger{
    border: none;
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    background-color: inherit;
    color: inherit;
    font-size: 18px;
    text-transform: uppercase;
  }

  .hamburger::before{
    content: "\f0c9";
    font-family: "FontAwesome";
    margin-right: 5px;
  }

  .hero-section .wrapper{padding: 200px 0;}

  .hero-title{font-size: 60px;}

  .hero-info{font-size: 20px;}

  .home-btn{
    padding: 15px 30px;
    font-size: 20px;
  }

  .live-events{padding: 100px 0;}

  .live-events .events-list{flex-flow: column wrap;}

  .live-events .events-list .event:first-child{margin: 0 0 30px 0;}

  .events-section-title{font-size: 40px;}

  .events-section-info{
    margin-bottom: 40px;
    font-size: 20px;
  }

  .event a::before{
    top: 40%;
    font-size: 50px;
  }

  .live-events .event a::before{top: 45%;}

  .artist-section{padding: 80px 0;}

  .artist-name{
    min-width: 200px;
    padding-right: 50px;
  }
  
  .artists-events .events-list{justify-content: center;}

  .trending-events{padding: 80px 0;}

  .trending-events .events-list{
    flex-flow: column wrap;
    align-items: center;
  }

  .trending-events .event{
    width: 67%;
    margin: 20px 0;
  }

  .trending-events .event a::before{top: 40%;}


  .footer-info-wrapper{flex-flow: column wrap;}

  .footer-info h4{font-size: 25px;}

  .logo:hover, .nav-items a:hover, .home-btn:hover, .event a:hover, .artist-name:hover, .link:hover{transform: inherit;}
}

/*media query for 768px ends here*/

/*media query for 425px starts here*/

@media only screen and (max-width : 425px){

  .logo, .hamburger{font-size: 14px;}

  .logo .bold{font-size: 18px;}

  .hero-section .wrapper{padding: 100px 0;}

  .hero-wrapper{width: 100%;}

  .hero-title{font-size: 40px;}

  .hero-info, .home-btn{font-size: 18px;}

  .live-events, .artist-section, .trending-events{padding: 40px 0;}

  .events-section-title{font-size: 30px;}

  .events-section-info{font-size: 18px;}

  .trending-events .event{width: 100%;}

  .trending-events .event a::before,
  .live-events .event a::before{top: 30%;}

  .artist-name{flex: 1 1 auto;}

  .footer-section{padding: 60px 0;}

  .footer-list li{font-size: 18px;}

  .link::before{font-size: 25px;}

  .copyright{font-size: 14px;}
}

/*media query for 425px ends here*/

/*media query ends here*/


